/GNUmakefile
/build/
*.pyc
.sdk
.stgit-*
.git-submodule-status
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.cproject
*.project
*.xml
/デフォルト/
*.c#
tprint_log.txt
*.prefs
*.bak
